@model IEnumerable<DiplomaDataModel.Choice>

@{
    ViewBag.Title = "Students Choices";
}

<h2>Student Choices</h2>
@Html.ActionLink("Create", "Create")
<div data-ng-app="reports" data-ng-controller="ReportsController">
    <div class="form-group">
        @Html.Label("Year/Term", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("YearTerms", null, null, htmlAttributes: new { @class = "form-control", data_ng_model = "yearterm", ng_init = "yearterm=" + ViewBag.DefaultYearTermId })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Report Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ReportTypes", null, null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <button class="btn btn-primary" data-ng-click="generateReports()">Generate Reports</button>
    <div data-ng-show="choices">
        <hr />
        <table class="table table-responsive table-striped">
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>First Choice</th>
                <th>Second Choice</th>
                <th>Third Choice</th>
                <th colspan="2">Fourth Choice</th>
            </tr>
            <tr data-ng-repeat="c in choices | filter:{ YearTermId: yearterm}">
                <td>{{ c.StudentId }}</td>
                <td>{{ c.StudentFirstName }}</td>
                <td>{{ c.StudentLastName }}</td>
                <td>{{ c.FirstOption.Title }}</td>
                <td>{{ c.SecondOption.Title }}</td>
                <td>{{ c.ThirdOption.Title }}</td>
                <td>{{ c.FourthOption.Title }}</td>
                <td>
                    <a href="/Choices/Edit/{{ c.ChoiceId }}">Edit</a>
                    <a href="/Choices/Details/{{ c.ChoiceId }}">Details</a>
                    <a href="/Choices/Delete/{{ c.ChoiceId }}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>


@*<table class="table">
        <tr>
            <th>
                First Option
            </th>
            <th>
                Second Option
            </th>
            <th>
                Third Option
            </th>
            <th>
                Fourth Option
            </th>
            <th>
                Year/Term
            </th>
            <th>
                Student Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>

    foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstOption.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondOption.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdOption.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FourthOption.Title)
                </td>
                <td>
                    @if (item.YearTerm.Term == 10) {
                        @Html.Raw(item.YearTerm.Year +" Winter")
                    } else if (item.YearTerm.Term == 20) {
                        @Html.Raw(item.YearTerm.Year + " Spring/Summer")
                    } else if (item.YearTerm.Term == 30) {
                        @Html.Raw(item.YearTerm.Year + " Fall")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentLastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ChoiceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceId })
                </td>
            </tr>
        }

        </table>*@
